* {
  box-sizing: border-box;
}
.App {
  margin: 0 auto;
  width: 900px;
  padding: 50px 15px;
  font-family: sans-serif;
}

h1 {
  margin: 0 0 10px;
  color: #c0c0c0;
}

.algorithm {
  overflow: hidden;
  display: flex;
  border-radius: 7px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

.codeView {
  flex-shrink: 0;
  width: 350px;
}
.codeView > pre {
  min-height: 100%;
  margin: 0 !important;
  padding: 25px !important;
  padding-left: 0 !important;
  font-size: 16px !important;
}
.react-syntax-highlighter-line-number {
  opacity: 0.5;
  display: block;
  padding: 0 15px;
  text-align: right;
  color: #aaa;
}

.viewer {
  width: 550px;
}
.viewport {
  margin: 80px 0 50px;
  width: 100%;
  padding: 0 30px;
  overflow-x: auto;
}

.cursors {
  position: relative;
  height: 40px;
  margin-bottom: 35px;
}
.cursors div {
  position: absolute;
  width: 25px;
  padding: 5px;
  line-height: 1;
  text-align: center;
  background: #ddd;
  transition: 0.3s;
}
.cursors div::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0 auto;
  width: 0;
  height: 0;
  border: 12.5px solid transparent;
  border-top: 7px solid #ddd;
}

.arrayVariable {
  margin-bottom: 10px;
  width: 85px;
}
.array {
  margin-left: -85px;
  padding: 0 85px;
}
.array__index,
.array__ele {
  display: flex;
  position: relative;
}
.array__index > div:first-child,
.array__index > div:last-child {
  position: absolute;
  color: #ccc;
}
.array__index {
  position: absolute;
  bottom: calc(100% + 10px);
}
.array__index > div:first-child {
  right: 100%;
}
.array__index > div:last-child {
  left: 100%;
}
.array__index > div,
.array__ele > div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50px;
}
.array__ele {
  align-items: flex-end;
}
.array__ele > div {
  min-height: 50px;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  color: #fff;
}

.align-center {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.cache {
  margin-left: 20px;
  border: 1px dashed #aaa;
}
.cache,
.cacheInner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
}
.cacheInner {
  margin: -1px;
}

.variable {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: #ddd;
}

.controller {
  outline: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 30px;
}
.controller button {
  appearance: none;
  user-select: none;
  border: 0;
  font-size: 50px;
  color: #555;
  background: none;
}
.controller button:hover,
.controller button:focus {
  cursor: pointer;
  outline: none;
  color: rgb(52, 116, 253);
}
.controller button:active {
  color: rgb(139, 176, 255);
}
.controller button.disabled {
  cursor: default;
  color: #ccc;
}
.reset {
  position: absolute;
  margin-right: 300px;
  font-size: 36px !important;
}
.stepCount {
  width: 70px;
  text-align: center;
}
